<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Booking</title>
  <link rel="stylesheet" th:href="@{/css/booking_style.css}" />
</head>

<body>
  <header class="nav-bar">
    <div class="container">
      <h1>Reception</h1>
      <nav>
        <ul class="nav-links">
          <li><a href="#" id="home-link">Home</a></li>
          <li><a href="#" id="book-room-link">Book Room</a></li>
          <li><a href="#" id="bookings-link">Bookings</a></li>
          <li><a href="#" id="view-rooms-link">View Rooms</a></li>
          <!--Add notitfication icon-->
          <a href="/logout" class="logout-btn">Logout</a>
        </ul>
      </nav>
    </div>
  </header>

  <div id="content-wrapper">
    <!-- Home Section -->
    <div id="home-section" class="main-body" style="display: block">
      <div class="welcome">
        <h2>Welcome, <span th:text="${firstName}"></span></h2>
        <p>Today is <span id="current-date"></span></p>
      </div>
    </div>

    <div id="info-section" class="info-section" style="display: block">
      <div class="status-overview">
        <h3>Room Status</h3>
        <div class="status-cards"><span th:text="'Total Rooms: ' + ${roomsCount}"></span></div>
        <div class="status-cards"><span th:text="'Available Rooms: ' + ${availableRoomsCount}"></span></div>
        <div class="status-cards"><span th:text="'Booked Rooms:' + ${bookedRoomsCount}"></span></div>
      </div>

      <div class="search">
        <h3>Search Booking</h3>
        <form th:action="@{/}" method="get">
          <input type="text" name="phoneNum" placeholder="Guest Phone Number" />
          <button class="search-btn" type="submit">Search</button>
        </form>
        <br><br>
        <span th:if="${message}" th:text="${message}"></span>
        <span th:each="booking : ${bookingFound}">
          <a th:href="@{/booking/edit/{id}(id=${booking.bookingId})}" th:text="${booking.bookingId}"></a>
          <span th:text="${booking.guest.firstName}" />
        </span>
      </div>
    </div>

    <div id="book-room-section" class="book-room" style="display: none">
      <h3>Book a Room</h3>
      <!-- Content for Book Room Section -->
      <form id="book-room-form" th:action="@{/newBooking}" method="POST">
        <!--Guest Info-->
        <div class="form-group">
          <label for="guest-first-name"> First Name: </label>
          <input type="text" id="guest_first_name" name="firstName" placeholder="Enter Guest Name" required />
        </div>
        <div class="form-group">
          <label for="guest-last-name"> Last Name: </label>
          <input type="text" id="guest_last_name" name="lastName" placeholder="Enter Guest Name" required />
        </div>
        <div class="form-group">
          <label for="contact-number">Phone Number: </label>
          <input type="text" id="contact-number" name="phoneNum" placeholder="Enter Phone Number" required />
        </div>
        <div class="form-group">
          <label for="guest-email">Guest Email: </label>
          <input type="text" id="guest_email" name="email" placeholder="Enter Guest Email" />
        </div>

        <!--Booking Info-->
        <div class="form-group">
          <label for="check-in-date">Check-In-Date: </label>
          <input type="date" name="checkInDate" id="check-in-date" required />
        </div>
        <div class="form-group">
          <label for="check-out-date">Check-Out-Date: </label>
          <input type="date" name="checkOutDate" id="check-out-date" required />
        </div>

        <!--Room Info-->
        <div class="form-group">
          <label for="room-number">Room Number: </label>
          <select name="roomNumber">
            <option value="" disabled selected>Select Room</option>
            <option th:each="room : ${availableRooms}" th:value="${room.roomNumber}" th:text="${room.roomNumber}">
            </option>
          </select>
        </div>

        <!--Submit Button-->
        <button type="submit" class="book-room-btn">Book Room</button>
      </form>
    </div>

    <!--Bookings-->
    <div id="bookings-section" class="bookings" style="display: none">
      <h3>Bookings Overview</h3>
      <div class="bookings-list">
        <div class="booking" th:each="booking : ${bookings}">
          <span class="booking-id">
            <a th:href="@{/booking/edit/{id}(id=${booking.bookingId})}" th:text="${booking.bookingId}"></a>
          </span>
          <span class="guest-name" th:text="${booking.firstName}"></span>
          <span class="guest-phone" th:text="${booking.phoneNum}"></span>
          <span class="room-number" th:text="${booking.roomNumber}"></span>
          <span class="room-status" th:text="${booking.status}"></span>
        </div>
      </div>
    </div>

    <!--View Rooms-->
    <div id="view-rooms-section" class="view-rooms" style="display: none">
      <h3>Rooms Overview</h3>
      <div class="room-list">
        <div class="room" th:each="room : ${rooms}">
          <span class="room-number" th:text="'Room ' + ${room.roomNumber}"></span>
          <span class="room-type" th:text="${room.roomType}"></span>
          <span class="room-price" th:text="${room.roomPrice}"></span>
          <span class="room-status" th:text="${room.roomStatus}"></span>
        </div>
      </div>

      <!--Manage Rooms-->
      <h4 class="add-room"><a th:href="@{rooms/addRoom}">Rooms</a></h4>
    </div>
  </div>

  <script th:src="@{/js/booking_script.js}"></script>
</body>

</html>
